body {
    background-color: #A8CAEA;
    padding: 20px;
  }

.white-frame{
  background-color: white;
  padding: 20px;
  margin: 10px;
}

.light-blue-frame {
    background-color: lightblue;
    padding: 20px;
    position: relative;
    padding: 7%;
}

.content {
  display: flex;
  flex-direction: row;
}
.task-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #E3F6FC;
    padding:20px;
    margin: 20px, 10px;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
  row-gap: 50px;
}
main {
  flex-wrap:wrap;
  justify-content: space-between;
}

  .menu-bar {
    position: relative;
    display: inline-block;
    width: 5%;
    padding: 3px;
    z-index: 2;
  }
  .previous-page {
    position: relative;
    display: inline;
    width: 5%;
    padding: 3px;
    top: 5px;
  }
.previous-page a {
  background-color: none;
  color: none;
  border:none;
  cursor: pointer;
  position: inline;
}
.menu-bar button {
    background-color: gray;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.menu-items {
    display: none;
    position: absolute;
    background-color: gray;
    padding: 5px;
}

.menu-items a {
  display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.menu-bar:hover .menu-items {
    display: block;
}

.button-container {
    align-items: right; 
    margin-top: 5px; 
  }

.confirm-button, .cancel-button {
  background-color: darkblue;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  margin: 5px;
  width: 65px;
  text-align: center;
  line-height: center; 
  margin-left: auto;
  display: block;
}



.task-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: start;
    padding: 10px;
}
.description {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border:none;
}
.text {
    font-family: arial, helvetica, sans-serif;
}


.input-field {
    width: 60px; /* Adjust the width as needed */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    background-color: #f7f7f7; /* Background color for read-only appearance */
    color: #333; /* Text color */
    cursor: default; /* Prevents the cursor from changing on hover */
    pointer-events: none; /* Prevents interaction with the input field */
}


