body {
    background-color: #A8CAEA;
    padding: 20px;
  }
  .white-frame{
    background:white;
    padding: 10px;
    margin:10px;

  }
  
  .card-views {
    display: flex; 
    justify-content: space-between; 
  }
  
  .cardview {
    background-color: #E3F6FC;
    border: 1px solid #E3F6FC;
    padding: 10px;
    width: 48%; 
    box-sizing: border-box; 
  }

  .cardview a {
    text-decoration: none;
    color: black;
  }
  
  .task-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .priority, .story-points, .tags {
    font-size: 16px;
    font-weight: normal;
  }

  .menu-bar {
    position: relative;
    display: block;
    width: 5%;
    padding: 3px;
}

.menu-bar button {
    background-color: gray;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.menu-items {
    display: none;
    position: absolute;
    background-color: gray;
    padding: 5px;
}

.menu-items a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.menu-bar:hover .menu-items {
    display: block;
}

.button-container {
    text-align: right; 
    margin-top: 5px; 
  }
  
.add-button, .delete-button {
    background-color: darkblue;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    width: 40px;
    text-align: center;
    line-height: center; 
    margin-left: auto;
    display: block;
}
  