body {
    background-color: #A8CAEA;
    padding: 20px;
  }
.white-frame{
    background:white;
    height: 3000px;
    padding: 20px;
    border-radius: 5px;
}
.task-frame{
  background-color: #E3F6FC;
  padding:20px;
  margin: 20px, 10px;
  height:2000px;

}
  
  .card-views {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48%, 70%));
    gap: 10px; 
  } 
  
  .cardview {
    background-color: #E3F6FC;
    border: 1px solid #E3F6FC;
    padding: 10px;
    box-sizing: border-box; 
    width: 100%;
  }

  .cardview a {
    text-decoration: none;
    color: black;
  }
  
  .task-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .priority, .story-points, .tags {
    font-size: 16px;
    font-weight: normal;
  }

  .menu-bar {
    position: relative;
    display: inline-block;
    width: 5%;
    padding: 3px;
  }
  .previous-page {
    position: relative;
    display: inline;
    width: 5%;
    padding: 3px;
    top: 5px;
  }
.previous-page a {
  background-color: none;
  color: none;
  border:none;
  cursor: pointer;
  position: inline;
}
.menu-bar button {
    background-color: gray;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.menu-items {
    display: none;
    position: absolute;
    background-color: gray;
    padding: 5px;
}

.menu-items a {
  display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.menu-bar:hover .menu-items {
    display: block;
}

.button-container {
    text-align: right; 
    margin-top: 5px; 
  }
  
.add-button, .delete-button {
    background-color: darkblue;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    width: 40px;
    text-align: center;
    line-height: center; 
    margin-left: auto;
    display: block;
}

.button2 {
  position: fixed;
  width: 100px;
  height: 45px;
  right: 0;
  bottom: 0;
  background-color: #4F5A6B;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button3 {
  position: fixed;
  width: 100px;
  height: 45px;
  right: 0;
  bottom: 60px;
  background-color: #4F5A6B;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.sort {
  background-color: #4472c4;
  border: none;
  color: white;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  position: fixed;
  right: 0px;
  top: 150px;
}
.sort1 {
  background-color: #222b35;
  border: none;
  color: #06b0f0;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 180px;
}
.sort2 {
  background-color: #222b35;
  border: none;
  color: #FFBF00;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 210px;
}
.sort3 {
  background-color: #222b35;
  border: none;
  color: #06b050;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 240px;
}

.sort4 {
  background-color: #222b35;
  border: none;
  color: #ff0000;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 270px;
}

.tag {
  background-color: #4472c4;
  border: none;
  color: white;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  position: fixed;
  right: 0px;
  top: 300px;
}
.tag1 {
  background-color: #222b35;
  border: none;
  color: #959AA1;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 330px;
}
.tag2 {
  background-color: #222b35;
  color: #FFBF00;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 360px;
}
.tag3 {
  background-color: #222b35;
  border: none;
  color: #FFFF00;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 390px;
}
.tag4 {
  background-color: #222b35;
  border: none;
  color: #92d051;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 410px;
}
.tag5 {
  background-color: #222b35;
  border: none;
  color: #06b0f0;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 440px;
}
.tag6 {
  background-color: #222b35;
  border: none;
  color: #5a2e81;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 470px;
}
.tag7 {
  background-color: #222b35;
  border: none;
  color: white;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 500px;
}
.tag8 {
  background-color: #222b35;
  border: none;
  color: #AA7942;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 530px;
}