body {
    background-color: #A8CAEA;
    padding: 20px;
  }

.white-frame{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  margin: 10px;
}
.content {
  display: flex;
  flex-direction: row;
}
.task-frame{
    background-color: #E3F6FC;
    padding:20px;
    margin: 20px, 10px;
    position: relative;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
main {
  flex-wrap:nowrap;
  justify-content: space-between;
}
  

  .card-views {
    width: 75%; /* Set the width to 80% of the parent container */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr)); /* Adjust column layout as needed */
    grid-template-rows: repeat(auto-fill, minmax(80px,1fr));
    gap: 10px;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .card-views {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* One column for small screens */
    }
  }

  .card {
    position: relative;
    border: 1px solid #E3F6FC;
    padding: 10px;
    margin: 10px;
  }
  
  .cardview {
    background-color: #E3F6FC;
    border: 1px solid #E3F6FC;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    position: relative; 
  }

  .cardview a {
    text-decoration: none;
    color: black;
  }
  
  .task-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .priority, .story-points {
    font-size: 16px;
    font-weight: normal;
  }

  .tags-container {
    position: absolute;
    top: 10px; 
    right: 10px; 
  }
  
 
  .tags {
    background-color: #4472c4; 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
 
  }


  .tags.tags1{
    background-color: #AF4A93; /*Frontend*/
    color: black;
  }

  .tags.tags1::before {
    content: "FrontEnd"; 
  }

  .tags.tags2{
    background-color: #EE8306; /*Backend*/
    color: black;
  }

  .tags.tags2::before {
    content: "BackEnd"; 
  }

  .tags.tags3{
    background-color: #DFCC22; /*API*/
    color: black;
  }

  .tags.tags3::before {
    content: "API"; 
  }

  .tags.tags4{
    background-color: #3EC133; /*Database*/
    color: black;
  }
  .tags.tags4::before {
    content: "Database";
  }
 
  .tags.tags5{
    background-color: #7eb0fa; /*Framework*/
    color: black;
  }

  .tags.tags5::before {
    content: "Framework"; 
  }

  .tags.tags6{
    background-color: #9747FF; /*Testing*/
    color: black;
  }

  .tags.tags6::before {
    content: "Testing";
  }

  .tags.tags7{
    background-color: #959AA1; /*UI*/
    color: black;
  }

  .tags.tags7::before {
    content: "UI"; 
  }

  .tags.tags8{
    background-color: #964B00; /*UX*/
    color: black;
  }

  .tags.tags8::before {
    content: "UX"; 
  }

  .menu-bar {
    position: relative;
    display: inline-block;
    width: 5%;
    padding: 3px;
    z-index: 2;
  }
  .previous-page {
    position: relative;
    display: inline;
    width: 5%;
    padding: 3px;
    top: 5px;
  }
.previous-page a {
  background-color: none;
  color: none;
  border:none;
  cursor: pointer;
  position: inline;
}
.menu-bar button {
    background-color: gray;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.menu-items {
    display: none;
    position: absolute;
    background-color: gray;
    padding: 5px;
}

.menu-items a {
  display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.menu-bar:hover .menu-items {
    display: block;
}

.button-container {
    text-align: right; 
    margin-top: 5px; 
  }
  
.add-button, .delete-button, .login-button {
    background-color: darkblue;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    width: 40px;
    text-align: center;
    line-height: center; 
    margin-left: auto;
    display: block;
}

/* Style the checkboxes */
.delete-checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0; /* Hide the checkboxes initially */
}

.button2 {
  position: fixed;
  width: 100px;
  height: 45px;
  right: 0;
  bottom: 0;
  background-color: #4F5A6B;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button3 {
  position: fixed;
  width: 100px;
  height: 45px;
  right: 0;
  bottom: 60px;
  background-color: #4F5A6B;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.sort-container {
  top:0px;
  right:0px;
}

.sort {
  color: white;
}
.sort1 {
  color: #06b0f0;
}
.sort2 {
  color: #FFBF00;
}
.sort3 {
  color: #06b050;
}

.sort4 {
  color: #ff0000;
}
.tag-container {
  top:0px;
  right: 0px;
  
}
.tag {
  color: white;

}
.tag1 {
  color: #959AA1;
}
.tag2 {
  color: #FFBF00;
}
.tag3 {
  color: #FFFF00;
}
.tag4 {
  color: #92d051;
}
.tag5 {
  color: #06b0f0;
}
.tag6 {
  color: #5a2e81;
}
.tag7 {
  color: white;
}
.tag8 {
  color: #AA7942;
}
.sort,.sort1,.sort2,.sort3,.sort4,.tag,.tag1,.tag2,.tag3,.tag4,.tag5,.tag6,.tag7,.tag8 {
  border: none;
  width: 200px;
  height: 30px;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  display: block;
}
.sort,.sort1,.sort2,.sort3,.sort4,.tag {
  text-align: center;
}
.tag1,.tag2,.tag3,.tag4,.tag5,.tag6,.tag7,.tag8 {
  text-align:left;
}
.sort,.tag {
  background-color: #4472c4;
}
.sort1,.sort2,.sort3,.sort4,.tag1,.tag2,.tag3,.tag4,.tag5,.tag6,.tag7,.tag8 {
  background-color: #222b35;
  cursor: pointer;
}




/* Adjust the styles to position the custom checkbox at the top-right corner */
.custom-checkbox {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right; /* Float it to the right */
  margin-right: 10px; /* Add margin for spacing */
}

.hidden-checkbox {
  display: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}